.tooltip-info {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: help;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 

  z-index: 100;
}

.tooltip-info::after {
  content: '';
  display: block;
  width: 2px;
  height: 7px;
  background-color: white;
  margin-top: 2px; 
}

.tooltip-info::before {
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  background-color: white;
}

.tooltip-content {
  display: none;
  background-color: #f9f9f9; 
  color: #333; 
  border: 1px solid #ddd;
  padding: 15px; 
  position: absolute;
  top: 50px;
  left: 10px;
  width: 250px;
  font-size: 14px;
  opacity: 0;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 

  z-index: 100;
}

.tooltip:hover .tooltip-content {
  display: block;
  animation: fadeIn 0.5s; 
  opacity: 1;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fullscreen-btn-main{
  position: absolute;
  top: 40px;
  left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.fullscreen-btn{
  cursor: pointer;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  z-index: 100;
}

.fullscreen-btn:hover{
  background-color: rgba(22, 22, 22, 0.5);
}

/* Light Theme Options */
.cm-light {
  background-color: #fff;
  color: #000;
}

/* dark theme options */
.cm-dark {
  background-color: #4d5967;
  color: #d9d6d1
}

button[aria-label="Redraw"] {
  display: none
}

.get-img-dem #img2img_ratio {
  display: none;
}

#img2img_res_get_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img2img_sketch,
#img2maskimg,
#inpaint_sketch {
  transform-origin: 0px 0px;
}

