.context-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 1000;
  font-size: 14px;
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  font-size: 12px;
  padding: 4px 6px;
  cursor: pointer;
}

.context-menu h3 {
  font-size: 14px;
  margin: 0;
  padding: 4px 8px;
}

.context-menu li:hover {
  background-color: #f1f1f1;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Modal container */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  max-width: 90%;
  overflow: auto;
}

/* Modal title */
.modal-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Modal content */
.modal-content {
  margin-bottom: 15px;
}

/* Modal actions */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Cancel button */
.cancel-button {
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.cancel-button:hover {
  background-color: #bbb;
}

/* Submit button */
.submit-button {
  background-color: #007bff;
  border: none;
  border-radius: 1.5px;
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0069d9;
}


.cursor-circle {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  display: none;
}

button[aria-label="Redraw"] {
  display:none
}

.get-img-dem #img2img_ratio{
  display: none;
}

#img2img_sketch, #img2maskimg, #inpaint_sketch{
  transform-origin: 0px 0px;
}